Action_Economy.py
Reorganized_Dice_Rolls_plus.ipynb
Reorganized_Artificer.ipynb
Level One Arena.ipynb
Effects.py
action_series_dict.json
location_series_dict.json
reward_series_dict.json
subaction_dict.json
previous_dict_gen.json

DFS_Functions-LAPTOP-7AL60HT5-2.ipynb
DFS_Functions-LAPTOP-7AL60HT5.ipynb
DFS_Location_Series-LAPTOP-7AL60HT5.ipynb
DFS_Object_Series-LAPTOP-7AL60HT5.ipynb
DFS_Running_Combat-LAPTOP-7AL60HT5.ipynb
DFS_Running_Combat-LAPTOP-7AL60HT5-2.ipynb
DFS_Universal_Rules-LAPTOP-7AL60HT5.ipynb
permutations_of_actions_and_queues-LAPTOP-7AL60HT5.ipynb
permutations_of_actions_and_queues-LAPTOP-7AL60HT5-2.ipynb

